{% extends "base.html" %}
{% block title %}Contact Page{% endblock %}
{% block content %}
    <div class="contact-container">
        <h1>This Is The Contact Page!</h1>
        <h2>Contact John Sowell</h2>
        <img src="{{ url_for('static', filename='images/John20130524_95827ET.bmp') }}"/>
    </div>
    <p><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To contact John Sowell about freelance software development work, email at john@jss.solutions. Otherwise, email at john.s.sowell@gmail.com. Or you can call John directly at (832) 318-3338.</i></p>
{% endblock %}