{% extends "base.html" %}
{% block title %}John Sowell's Writings{% endblock %}
{% block content %}
    <div class="writings-container">
        {% if list_series %}
            <h1>John Sowell's Writings</h1>
            <h2>List Of Series</h2>
            <table border="1">
                <tr align="center"><td><h3>SERIES #</h3></td><td><h3>NAME</h3></td><td><h3>STORIES</h3></td></tr>
                {% for s in list_series %}
                    <tr align="center"><td><h4>{{ s.id }}</h4></td><td><h4><a href="./writings?series_id={{ s.id }}">{{ s.name }}</a></h4></td><td><h4>{{ s.stories }}</h4></td></tr>
                {% endfor %}
            </table>
        {% endif %}

        {% if series_selected %}
            <h1>John Sowell's Writings</h1>
            <h2>Series Selected: {{ series_selected.series }}</h2>
            <h3>List Of Stories</h3>
            <table border="1">
                <tr align="center"><td><h4>STORY #</h4></td><td><h4>TITLE</h4></td><td><h4>PAGES</h4></td></tr>
                {% for st in series_selected.story_list %}
                    <tr align="center"><td><h5>{{ st.story_id }}</h5></td><td><h5><a href="./writings?series_id={{ series }}&story_id={{ st.story_id }}">{{ st.title }}</a></h5></td><td><h5>{{ st.pages }}</h5></td></tr>
                {% endfor %}
            </table>
        {% endif %}

        {% if story_selected %}
            <h1>John Sowell's Writings</h1>
            <h2>Series Selected: {{ story_selected.series }}</h2>
            <h3>Story Selected: Story {{ story_selected.story_id }} -- {{ story_selected.story }}</h3>            
            <h4>Written {{ story_selected.date_started }} - {{ story_selected.date_finished }} -- Pages: {{ story_selected.pages }}</h4>
            {% if story_selected.summary %}
                <h4>Summary: <i style="color: #ffffff">{{ story_selected.summary }}</i></h4>
            {% endif %}
            {% if story_selected.song_list %}
                <h5>SONGS FEATURED</h5>
                <table border="1">
                    <tr align="center"><td><h5>SONG #</h5></td><td><h5>SONG TITLE</h5></td><td><h5>ARTIST</h5></td><td><h5>YEAR</h5></td></tr>
                    {% for s in story_selected.song_list %}
                        <tr align="center"><td><h6>{{ s.index }}</h6></td><td><h6><a href="./writings?song_id={{ s.id }}">{{ s.title }}</a></h6></td><td><h6>{{ s.artist }}</h6></td><td><h6>{{ s.year }}</h6></td></tr>
                    {% endfor %}
                </table>
            {% endif %}        
        {% endif %}

        {% if song %}
            <h1>SELECTED SONG</h1>
            <h2>Title: {{ song.title }}</h2>
            <h2>Artist: {{ song.artist }}</h2>
            {% if song.album %}
                <h3>Album: {{ song.album }}</h3>
            {% endif %}
            <h3>Year: {{ song.year }}</h3>
            <h3>Time: {{ song.time }}</h3>
            <h3>{{ song.peak }}</h3>
            {% if song.songwriter %}
                <h3>Songwriter: {{ song.songwriter }}</h3>
            {% endif %}
            {% if song.genre %}
                <h3>Genre: {{ song.genre }}</h3>
            {% endif %}
            <br />
            {% if song.comments %}
                <p><i>{{ song.comments }}</i></p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}